<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <form>
      <div class="form-group form-group-lg">
        <input class="form-control" id="id" name="id" placeholder="id" type="text"
               disabled
               [value]="task.id"/>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="created" name="created" placeholder="MM-DD-YYYY" type="text"
                 disabled [value]="task.created"/>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="modified" name="modified" placeholder="MM-DD-YYYY" type="text"
                 disabled [value]="task.modified"
          />
        </div>
      </div>
      <div class="form-group form-group-lg">
        <input class="form-control" id="description" name="description" placeholder="Description" type="text"
        [(ngModel)]="task.description"
        />
      </div>
      <div class="form-group form-group-lg">
        <select class="select form-control" id="parentId" name="parentId"
                [(ngModel)]="task.parentId" placeholder="Parent"
        >
          <option *ngFor="let taskParent of tasks" [value]="taskParent.id">
            {{taskParent.description}}
          </option>
        </select>
      </div>
      <div class="form-group form-group-lg">
        <select class="select form-control" id="status" name="status" [(ngModel)]="task.status" placeholder="Status">
          <option *ngFor="let taskStatus of taskStatusList" [value]="taskStatus">
            {{getTaskEnumName(taskStatus)}}
          </option>
        </select>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control form-control" id="beginDate" name="beginDate" placeholder="MM-DD-YYYY" type="text"
                 [(ngModel)]="task.beginDate"
          />
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="dueDate" name="dueDate" placeholder="MM-DD-YYYY" type="text"
                 [(ngModel)]="task.dueDate"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-primary " name="submit"  type="button" (click)="update(task)">
              Save
            </button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger " name="delete"  type="button" (click)="delete(task)">
              delete
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
