<h3>Projects</h3>
<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-info" name="createProject" (click)="createNewProject()">Create a Project</button>
  </div>
</div>
<div class="grid grid-pad">
  <a *ngFor="let project of projects"  [routerLink]="['/projects', project.id]"  class="col-1-4">
    <div class="module project">
      <h4>{{project.description}}</h4>
    </div>
  </a>
</div>
<div class="container-fluid">
  <app-project-create *ngIf="viewState === createState && project" [project]="project"
                   (onSave)="save($event)"
  ></app-project-create>

</div>
