<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <form>
      <div class="form-group form-group-lg">
        <input class="form-control" id="id" name="id" placeholder="id" type="text"
               disabled
               [value]="project.id"/>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="created" name="created" placeholder="MM-DD-YYYY" type="text"
                 disabled [value]="project.created"/>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="modified" name="modified" placeholder="MM-DD-YYYY" type="text"
                 disabled [value]="project.modified"
          />
        </div>
      </div>
      <div class="form-group form-group-lg">
        <input class="form-control" id="description" name="description" placeholder="Description" type="text"
               [(ngModel)]="project.description"
        />
      </div>
      <div class="form-group form-group-lg">
        <select class="select form-control" id="status" name="status" [(ngModel)]="project.status" placeholder="Status">
          <option *ngFor="let projectStatus of projectStatusList" [value]="projectStatus">
            {{getProjectEnumName(projectStatus)}}
          </option>
        </select>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control form-control" id="beginDate" name="beginDate" placeholder="MM-DD-YYYY" type="text"
                 [(ngModel)]="project.beginDate"
          />
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="dueDate" name="dueDate" placeholder="MM-DD-YYYY" type="text"
                 [(ngModel)]="project.dueDate"
          />
        </div>
      </div>
      <div class="form-group">
        <div>
          <button class="btn btn-primary " name="submit"  type="button" (click)="save(project)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
