<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <form #taskForm="ngForm"  *ngIf="active">
      <div class="form-group form-group-lg">
        <input class="form-control" id="id" name="id" placeholder="id" type="text"
               disabled
               [value]="task.id"/>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="created" name="created" placeholder="MM-DD-YYYY" type="text"
                 disabled [value]="task.created"/>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="modified" name="modified" placeholder="MM-DD-YYYY" type="text"
                 disabled [value]="task.modified"
          />
        </div>
      </div>
      <div class="form-group form-group-lg">
        <input class="form-control" id="description" name="description" placeholder="Description" type="text"
        [(ngModel)]="task.description" required minlength="4" maxlength="20" #description="ngModel"
        />
        <div *ngIf="description.errors && (description.dirty || description.touched)"
             class="alert alert-danger">
          <div [hidden]="!description.errors.required">
            Description is required
          </div>
          <div [hidden]="!description.errors.minlength">
            Description must be at least 4 characters long.
          </div>
          <div [hidden]="!description.errors.maxlength">
            Description cannot be more than 20 characters long.
          </div>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <select class="select form-control" id="parentId" name="parentId"
                [(ngModel)]="task.parentId" placeholder="Parent"
        >
          <option *ngFor="let taskParent of tasks" [value]="taskParent.id">
            {{taskParent.description}}
          </option>
        </select>
      </div>
      <div class="form-group form-group-lg">
        <select class="select form-control" id="status" name="status" [(ngModel)]="task.status" placeholder="Status"
                required #status="ngModel"
        >
          <option *ngFor="let taskStatus of taskStatusList" [value]="taskStatus">
            {{getTaskEnumName(taskStatus)}}
          </option>
        </select>
        <div *ngIf="status.errors && status.touched" class="alert alert-danger">
          <div [hidden]="!status.errors.required">Status is required</div>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control form-control" id="beginDate" name="beginDate" placeholder="MM-DD-YYYY" type="text"
                 [(ngModel)]="task.beginDate"
          />
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar">
            </i>
          </div>
          <input class="form-control" id="dueDate" name="dueDate" placeholder="MM-DD-YYYY" type="text"
                 [(ngModel)]="task.dueDate"
          />
        </div>
      </div>
      <div class="form-group">
        <div>
          <button class="btn btn-primary " name="submit" [disabled]="!taskForm.form.valid"  type="button" (click)="save(task)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
